<html>
 <body> 
@{
Random cornum =  new Random();
int newnum = cornum.Next(0,10);
 if (IsPost) { 
	string guess = Request["magic"];
	int guestguess = Int.Parse(guess);
	if(guestguess == newnum){
<p>You entered: <br />
 Correct! @guestguess <br />
 </p>
 }
 }
 else if (guestguess > newnum)
 {
	<p>Your number is too high</p>
}else{
	<p>Your number is too low</p>}
} 
<form method="post" action="">
 Company Name:<br />
 <input type="text" name="magic" value="" /><br />
 Whats the magic word?:<br />
 
 <input type="submit" value="Submit" class="submit" />
 </form>
 </body> 
 </html>