<html>
 <body> 
@{
 if (IsPost&&guestguess.equals(magic)) { 
	string guestguess = Request["YourGuess"]; 
	 
<p>You entered: <br />
 Correct! @guestguess <br />
 </p>
 }
 else
 {
<form method="post" action="">
 Company Name:<br />
 <input type="text" name="magic" value="jurassic" /><br />
 Whats the magic word?:<br />
 
 <input type="submit" value="Submit" class="submit" />
 </form>
}
} 
 </body> 
 </html>