<html>
 <body> 
@{
 if (IsPost) { 
	string guestguess = Request["magic"]; 
	if(guestguess.Equals("jurassic")){
		<p>You entered: <br />
		 Correct! @guestguess <br />
		</p>
	}
 else
 {
<form method="post" action="">
 Company Name:<br />
 <input type="text" name="magic" value="" /><br />
 Whats the magic word?:<br />
 
 <input type="submit" value="Submit" class="submit" />
 </form>
}
 }
 
} 
 </body> 
 </html>